.settings {
    border: 2px solid rgb(6, 200, 248);
    border-radius: 5px;
    padding: 15px;
    width: 400px;
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 15px;
    border: 2px solid rgb(6, 200, 248);
    border-radius: 5px;
}